Software: python version 2.7 with pip compiler
          Qt designer , vs code 

Hardware: windows 

ImportantModules: pyttsx3
pywhatkit
SpeechRecognition
PyQt5
pyaudio
webbrowser
wikipedia
sys



## NOTE: you need to change the paths in the code according to your laptop directories and important paths.

